/* * {
  box-sizing: border-box;
} */

body {
  background: #D9D9D9;
  color: #181616;
  font-family: Inter, "Myriad Pro", Helvetica, Geneva, Arial, "Helvetica Neue", Frutiger, "Frutiger Linotype", Univers, Calibri, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 150%;
}

a {
  color: #100BF5;
  text-decoration: none;
}

img {
  display: block;
}

button, input[type="submit"] {
  font-family: Inter, "Myriad Pro", Helvetica, Geneva, Arial, "Helvetica Neue", Frutiger, "Frutiger Linotype", Univers, Calibri, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
}
